.git
.gitignore
.idea
.vscode
*.log

node_modules
webfront/node_modules
webfront/dist
webfront/.angular

core/vendor
core/var
core/.env.local
core/.env.*.local
core/.phpunit.result.cache

openapi.json
dist
