{
    {$CADDY_GLOBAL_OPTIONS}
}

:80 {
    encode zstd gzip

    @api path /api/* /bundles/*
    handle @api {
        reverse_proxy core:80
    }

    handle {
        reverse_proxy webfront:4200
    }
}
