<div class="form__group">
  <div class="form__field">
    <svg-icon
      src="assets/icons/heroicons/outline/lock-closed.svg"
      [svgClass]="'h-5 w-5 absolute left-3 top-2 text-muted-foreground z-20'"
    ></svg-icon>
    <input
      #passwordInput
      [id]="id"
      [type]="passwordVisible ? 'text' : 'password'"
      [autocomplete]="autocomplete"
      class="form__input peer pl-10 pr-12"
      placeholder=" "
      [formControl]="control"
      [disabled]="disabled"
      [ngClass]="{ 'is__invalid-input': hasErrors }"
    />
    <label
      class="form__label left-9"
      [ngClass]="{ 'peer-focus:text-destructive!': hasErrors }"
      [attr.for]="id">
      {{ label }}
    </label>
    <button
      type="button"
      class="form__toggle"
      [attr.aria-label]="'Afficher ou masquer le mot de passe'"
      [attr.aria-pressed]="passwordVisible"
      [disabled]="disabled"
      (click)="togglePasswordVisibility()"
    >
      <svg-icon
        [src]="!passwordVisible ? 'assets/icons/heroicons/outline/eye-off.svg' : 'assets/icons/heroicons/outline/eye.svg'"
        [svgClass]="'h-5 w-5'"
      ></svg-icon>
    </button>
  </div>

  @if (hasErrors) {
    <p class="is__invalid-error animate-fade-in-down">
      <ng-content select="[error]"></ng-content>
    </p>
  }

  @if (showStrengthMeter) {
    <div class="mt-2 grid grid-cols-4 gap-2">
      @for (index of [1, 2, 3, 4]; track index) {
        <span [ngClass]="getStrengthColor(index)" class="h-1 rounded-xs transition-colors duration-300"></span>
      }
    </div>
  }

  @if (showHelper) {
    <p class="mt-2 text-xs text-muted-foreground">
      {{ 'form.messages.info.passwordHelper' | translate }}
    </p>
  }
</div>
