{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex min-h-screen flex-col bg-background text-foreground">
        <main class="flex flex-1 items-center justify-center px-4 py-12 lg:px-8">
            <div class="relative w-full max-w-md overflow-y-auto px-4 sm:w-[500px]">
                <div class="flex items-center justify-center gap-3">
                    <span class="text-md font-bold text-foreground">{{ wording_name }}</span>
                </div>

                <div class="mt-10">
                    {% block auth_component %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
